numpy==1.19.2
opencv_python==4.6.0.66
streamlit==1.11.1
matplotlib==3.3.4
torch==1.7.1
albumentations==0.5.2
torchvision==0.8.2
pydicom==2.3.1
numpyencoder==0.3.0
keras==2.4.0
tensorflow==2.4.0
typing-extensions==4.4.0

